.navbar {
    margin-top: 15px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    font-size: 16px;
    color: rgb(71, 71, 71);
    background-color:rgb(244,176,15);
    border-top: 4px rgb(71, 71, 71) solid;
    border-bottom: 4px rgb(71, 71, 71) solid;
    height: 100px;
    font-family: 'Merienda', cursive;
    position: fixed;
  }
  
   li {
    display: inline-block;
    padding-left: 100px ;
    width: 25%;
  } 
  
  ul {
    display: auto;
    align-items: center;
  }
  
.name {
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
    font-weight: 1000;
    margin-left: 10%;
}
