
 .jumbotron {
    font-family: 'New Rocker', cursive;
    margin-bottom: 20px;
    text-align: center;
    background-color: #003152;
    color: #fff;
    border:solid 3px #fff;
};

.jumbotron > h3 {
    color:white!important;
    
} 